@font-face {
    font-family: 'CursedTimer';
    src: url('Fonts/CursedTimer.ttf') format('truetype');
}
@font-face {
    font-family: 'DaysOne';
    src: url('Fonts/DaysOne.ttf') format('truetype');
}
.CursedTimer {
    font-family: 'CursedTimer';
}
.DaysOne {
    font-family: 'DaysOne';
}
body {
    background-color: #FFFFFF;
    font-family: 'DaysOne', sans-serif;
    margin: 2rem 2rem;
    padding: 0;
    display: flex;
}
.scoreboard {
    border-radius: 1rem;
    border: 0.25rem solid #FEBF00;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 4rem; ;
    color: #FFFFFF;
    background-color: #04053E;
}
.clock {
    font-family: 'CursedTimer', sans-serif;
    color: #F94F6D;
    background-color: #080001;
    font-size: 90px;
    height: 128px;
    width: 100%;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 2.5rem;
    border-radius: 0.5rem;
    margin: 0;
}
.team-score { 
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;   
    width: 128px;
    height: 128px;
}
.scorecard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    padding: 2rem;
    border: 0.25rem solid #9AABD8;
    border-radius: 0.5rem;
}
.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}
.team {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    gap: 0rem;
}
.button {
   display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background: #FEBF00;
    color: #080001;
    text-align: center;
    font-family: 'DaysOne';
    text-decoration: uppercase;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
}
.is-secondary {
    background: #9AABD8;
    color: #080001;
   
}
.is-small {
    padding: 0.35rem;
    font-size: 0.55rem;
    background: #FFFFFF;
    color: #080001;
}
.btn-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 0.57rem;
}
.btn {
    display: flex;
    font-family: 'cursedTimer';
    font-size: 1.25rem;
    justify-content: space-between;
    align-items: space-between;
    border-radius: 0.5rem;
    background: transparent;
    color: #9AABD8;
    border: 0.125rem solid #9AABD8;
}
.fscore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.team {
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
      gap: 2rem;
}
.middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.small-clock {
    font-family: 'CursedTimer', sans-serif;
    color: #F94F6D;
    background-color: #080001;
    font-size: 3.125rem;
    width: 0.5rem;
    height: 3.125rem;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 2.5rem;
    border-radius: 0.5rem;
}
img {
    width: 179px;
    height: 179px;
}
h2 {
    font-size: 2.5rem;
     margin: 0.5rem 0 0.5rem 0;
}
.score {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    gap: 1.5rem;
    margin: 0;
}
h4 {
    font-size: 1.25rem;
    margin: 0.5rem 0 0.5rem 0;
}
.is-point {
    background: #ffffff;
    color: #080001;
}
.score-wrapper {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: start;
    gap: 0.5rem;
}
.arrow {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem;
    display: none;
}
